.selected {
    text-shadow: 1px 0px 3px white;
    color: #fff;
    border-bottom: rgba(255, 255, 255, 0.639) solid 2px;
    padding-bottom: 5px;
}

.project {
    border: 1px solid;
    width: 500px;
    margin: 50px auto;
    padding: 10px;
}